<!-- views/index.ejs -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Crypto techTalk</title>
  </head>
  <body>
    <h1>Welcome to your Crypto techTalk</h1>
    <p>An app where you can share your thoughts on tech and finance with no limitations, GO OFF!!!</p>
  </body>
</html>
