<!-- views/allTweeters/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tweeters Index</title>
  </head>
  <body>
    <h1>All Tweeters</h1>
  </body>
</html>
