<!-- views/allTweeters/index.ejs -->
<!--This is the Read CRUD-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tweeters Index</title>
  </head>
  <body>
    <h1>All Tweeters</h1>
    <ul>
        <% talkers.forEach(talkers => { %>
          <li><a href="/talkers/<%= talkers._id %>"> <%= talkers.name %> </a>
        </li>
        <% }); %>
      </ul>
      <a href="/pages/new">What else is on your mind?</a>
  </body>
</html>
