<!-- views/blogNew/new.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create your cryptoTalk</title>
  </head>
  <body>
    <h1>How bold are you?</h1>
    <h2>It can be about Tech Crypto or Finance:</h2>
    <form action="/pages" method="POST"></form>
    <div>
    <label for="name">Name:</label><br><br>
    <input type="text" name="name" id="name" required />
    </div><br>
    <div>
    <label for="story">What is on your mind?</label><br><br>
    <textarea id="story" name="story" type="text" rows="3" cols="28" required maxlength="300">    
      What up
    </textarea>
    </div>
    <div><small>Please click to submit below</small></div>
    <br><button type="submit"><strong>Don't be soft!!!</strong></button>

    </form>
  </body>
</html>
